// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-first{
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 50px;
	background-color: #eee;
}

.home-Label{
	font-size: 20px;
	padding-top: 13px;
}

.product-home{
    width: 300px;
    height: 400px;
    display: inline-block;
    text-align: center;
}